
<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/book_icon.svg">
      </div>
    </a>
    <a class="simple-text logo-normal">
      Micro Library
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i-feather [name]="menuItem.icon" class="feather-sm"></i-feather>
                {{menuItem.title}}
            </a>
        </li>
    </ul>
</div>
