<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add Customer</h4>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="firstNameInput">First name</label>
      <input type="text" class="form-control" id="firstNameInput" formControlName="firstName" maxlength="255" required>
      <small *ngIf="shouldShowErrors('firstName')" class="form-text text-danger">
        {{getErrorMessage("firstName")}}
      </small>
    </div>
    <div class="form-group">
      <label for="lastNameInput">Last name</label>
      <input type="text" class="form-control" id="lastNameInput" formControlName="lastName" maxlength="255" required>
      <small *ngIf="shouldShowErrors('lastName')" class="form-text text-danger">
        {{getErrorMessage("lastName")}}
      </small>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="save()">Save</button>
</div>
