<div class="row">

  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="...">
      </div>
      <div class="card-body">
        <div class="author">
          <img class="avatar border-gray" src="assets\img\default-avatar.png" alt="...">
          <h5 class="title" *ngIf="customer">{{customer.firstName}} {{customer.lastName}}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Borrowed books</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <button class="btn btn-primary btn-round ml-3" (click)="borrowBook()">Borrow book</button>
          <select [(ngModel)]="selectedBookId" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
            <option *ngFor="let book of bookOptions" [value]="book.id">{{book.title}}</option>
          </select>
        </div>
        <table class="table">
          <thead class=" text-primary">
          <th>
            Title
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let book of borrowedBooks">
            <td>
              {{book.title}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
